@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: Nunito, sans-serif;
}
html, body{display: flex;
  justify-content:flex-end;
  align-items:flex-end;
  min-height: 100vh;
	width: 100%;height: 100%;
		background-image: url("background.jpg");
	background-size: cover; 
}
.container-fluid .menu span {
	position: fixed;
	z-index: 3;
	color: white;
	top: 15px;
	left: 30px;
	
}
.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-image: -webkit-linear-gradient(270deg,rgba(0,18,45,1.00) 0%,rgba(53,134,255,1.00) 53.37%);
    background-image: -moz-linear-gradient(270deg,rgba(0,18,45,1.00) 0%,rgba(53,134,255,1.00) 53.37%);
    background-image: -o-linear-gradient(270deg,rgba(0,18,45,1.00) 0%,rgba(53,134,255,1.00) 53.37%);
    background-image: linear-gradient(180deg,rgba(0,18,45,1.00) 0%,rgba(53,134,255,1.00) 53.37%);
	padding-top: 80px;
	
	
}

.menu #mySidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #9BE1FF;
  display: block;
  transition: 0.3s;

	
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.menu #mySidenav a:hover{
	 background-color: #B96200;
}



main {
	display: flex;
	justify-content: center;
	align-items:center;
	min-height: 100vh;
	width: 100%;
	flex-direction: column;
	top: 5px;
	bottom: 50px;
	
	background-size: cover;
}
main h1{
    color: #8AE7FF;
    font-family: "Arizonia Regular";
    font-size: 50px;
    text-shadow: 1.5px 1.5px 2px #000000;
	top: 80px;
	position: fixed;
}
main h2{
	font-size: 40px;
	font-weight:700;
	color: #FFFFFF; text-shadow: 1.5px 1.5px 2px #000000;
position: fixed;
	top:200px;

}
main h5{;color: #FFFFFF;}

main button{
	 text-shadow: 1.5px 1.5px 1px #000000;
	font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
	font-weight: bold;
    padding: 15px 35px;
	color: #FFFFFF;
    letter-spacing: 0.05em;
    margin-top: 10px;
    border: none;
    border-radius: 40px;
    transition: 0.5s;
    background-color: #2833FF;
	position: fixed;
	top: 300px;
	
}

main button:hover{
	letter-spacing: 0.5em;
}
.container-fluid .text-center a {
 font-family: Nunito, sans-serif;
	font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
	font-weight: bold;
    padding: 15px 35px;
	color: #FFFFFF;
    letter-spacing: 0.05em;
    margin-top: 10px;
    border: none;
    border-radius: 40px;
    transition: 0.5s;
    background-color: #2833FF;
}
.container-fluid .text-center a:hover{
	letter-spacing: 0.5em;
}

/*//////////////// Footer Style //////////////////*/
.footer {
  position: fixed;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
color: #B96200;
}
.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}
.text-center h1 strong {font-family: "Arizonia Regular"; font-size: 100;
}
.main .navbar {
    background-color: #000000;
}










@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@media screen and (max-width:900px){

	
	.wave {top: -10px; height: 15px;  background-size: 400px 20px;}
.footer .icon {width: 100px; height:100px;}

	footer{width: 100%; height: 40%;}
	
	.menu__link{font-size: 15px;}
	.social-icon__link{font-size: 12px;}
	.footer p{font-size: 12px; bottom: 10px;}

	
	main h2{font-size: 30px;
	top:150px;}
	main button{
		font-size: 12px;
		top: 250px;
		
	}
	main button a{
		text-align: center;
		
	}
	.social-icon__link {  font-size: 1rem;}
	.icon a .img-fluid {font-size: 30px;}
	.footer .menu .menu__item {font-size: 15px;}
	
	.sidenav {padding-top: 80px;}



	
	.menu span h1{font-size: 30px;}
}
